[Unit]
Description=GROS upload service
After=network.target

[Service]
Type=simple
PAMName=upload
ExecStart=/bin/bash -ce 'systemd-ask-password "Password for gros-uploader keyring:" | su -s /bin/bash upload /usr/local/bin/upload-session.sh'
ExecReload=/bin/bash -ce "/bin/kill -s HUP $(cat /var/log/upload/upload.pid)"
ExecStop=/bin/bash -ce "/bin/kill -s TERM $(cat /var/log/upload/upload.pid)"
WorkingDirectory=/home/upload
KillSignal=SIGTERM
KillMode=control-group
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
